lightgbm==3.3.2
matplotlib==3.5.1
mpl_finance==0.10.1
numpy==1.22.2
oandapyV20==0.7.2
pandas==1.4.1
pandas_ta==0.3.14b0
requests==2.27.1
scikit_learn==1.0.2
TA_Lib==0.4.24
telegram==0.0.1
tensorflow==2.8.0
tqdm==4.60.0
